<h1 class="text-2xl">Seleccion de Asientos</h1> 
<h2 class="text-xl mt-4 mb-2">Distribucion de asientos</h2>
<div class="grid grid-cols-4 gap-2">
    @for( item of seatList; track item.id ){
        <button [ngClass]="{'selected-button': item.isSelected}"  (click)="handleReservationTemp(item.id)" class="w-10 h-10 p-10 bg-green-500">{{item.codSeat}}</button>
    }
</div>

<!-- Prueba de Boton --> 
<button class="w-10 h-10 p-10 bg-gray-500 my-2">N11</button>

<div class="grid grid-cols-4 gap-2">
    <div> <div class="w-[20px] h-[20px] bg-green-500"></div> <span>Asientos disponibles</span></div>
    <div> <div class="w-[20px] h-[20px] bg-gray-500"></div> <span>Asientos no disponibles</span></div>
</div>

<p-divider></p-divider>

<h2 class="mt-10 text-xl">Confirma tu identidad </h2>
<div [formGroup]="formLogin" class=" flex justify-start">

    <div class="card">
        <p-floatLabel class="m-2 my-2">
            <input pInputText
                class="w-full p-3 border-2 my-2"
                formControlName="userName"
                minlength="8"
                [style]="{ width: '100%' }"
                id="userName" />
    
            <label for="userName">Nombre de Usuario</label>
        </p-floatLabel>
        <p-floatLabel>
            <input pInputText
                class="w-full p-3 border-2"
                formControlName="password"
                minlength="4"
                [style]="{ width: '100%' }"
                id="password" />
    
            <label for="password">Contrasena</label>
        </p-floatLabel>
        <div class="flex justify-start mt-4">

            <p-button [disabled]="!formLogin.valid" (click)="handleReservationSaga()" label="Pagar"></p-button>
        </div>
    </div>
    
    
</div>

