<h1 class="text-2xl">{{titleAction}} Solicitud de Financiamiento</h1>
<div class="card flex justify-center">
    <p-stepper [(activeStep)]="active">
        <p-stepperPanel > 
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index" >
                <div class="step-header" (click)="onClick.emit()" class="border-b-8 py-2 rounded-bl-lg w-[30rem]" [ngClass]="{
                    'font-light border-[#C0E3F9]': index !== active(),
                    'font-bold border-[#0064A3]': index === active()
                }">
                    INFORMACIÓN                                                  
                </div>
            </ng-template>
            
            <ng-template pTemplate="content" let-nextCallback="nextCallback">
                <app-solicitud></app-solicitud>
                <div class="flex pt-4 justify-end">
                    <p-button (onClick)="nextCallback.emit()" label="Siguiente" icon="pi pi-arrow-right" iconPos="right" [rounded]="true" size="small" />
                </div>
            </ng-template>
            <ng-template pTemplate="separator"></ng-template>
        </p-stepperPanel>
        <p-stepperPanel>
            <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                <div class="step-header" (click)="onClick.emit()" class="border-b-8 py-2 rounded-br-lg w-[30rem]" [ngClass]="{
                    'font-light border-[#C0E3F9]': index !== active(),
                    'font-bold border-[#0064A3]': index === active()
                }">
                    UBICACIÓN
                </div>
                
            </ng-template>
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
                <!-- Contenido del segundo paso -->
                 Paso 2
                 <div class="flex pt-4 justify-content-between">
                    <p-button (onClick)="prevCallback.emit()" label="Volver" severity="secondary" icon="pi pi-arrow-left" />
                    <p-button (onClick)="nextCallback.emit()" label="Siguiente" icon="pi pi-arrow-right" iconPos="right" [rounded]="true" size="small" />
                </div>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>
