.full-screen-content {
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100vw; /* Ocupa toda la anchura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
}
